html, body {
    margin: 0; padding: 0;
    font-family: "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,sans-serif;
}

#content {
    min-width: 1px;
    min-height: 1px;
}

.fixed-size-container {
    max-width: 800px;
}

.viewSurface {
    height: 600px;
    padding: 40px;
    overflow: auto;
}

#content-full {
    margin: 0 20px;
}

.left {
    float: left;
    width: 50%;
}

.right {
    float: right;
    width: 50%;
}

.clearall { clear: both; }