.c-DetailRoot {
    .viewSurface {

	.c-DetailHeader {
	    background: #eee;
	}

	.c-DetailCell {
	    padding-top: 3px;
	    padding-bottom: 3px;
	}

        .index {
            width: 20%;
        }

        .text, .somethingRandom {
            width: 40%;
        }
    }
}
