@regularFontFamily: "Segoe UI","Segoe UI Web Regular","Segoe UI Symbol","Helvetica Neue","BBAlpha Sans","S60 Sans",Arial,sans-serif;
@lightFontFamily: "Segoe UI Light","Segoe UI Web Light","Segoe UI Web Regular","Segoe UI","Segoe UI Symbol","HelveticaNeue-Light","Helvetica Neue",Arial,sans-serif;

//== Theme Colors
//
// Color is used for wayfinding, navigation, and key interaction moments.
// For example: primary action, app switcher & current or selected time indicators.
// Use color in moderation to support clear hierarchy and consistent UX across workloads.

@color-themeDarker:             #004578;
@color-themeDark:               #005a9e;
@color-themePrimary:            #0072c6;
@color-themeSecondary:          #2a8dd4;
@color-themeTertiary:           #92c0e0;
@color-themeLight:              #cde6f7;
@color-themeLighter:            #e6f2fa;


//== Grayscale Colors
//
// Black & darker shades of gray are used for content including text.
// True black, #00000, is used sparingly & reserved for high-impact strings such as
// names, or reading pane subject & headlines.
// Lighter shades of gray are used for supporting graphic elements which define an environment.
// Mid-range grays are combined to create core controls and elements with which
// users interact.

@color-black:                   #000000;
@color-neutralDark:             #212121;
@color-neutralPrimary:          #333333;
@color-neutralSecondary:        #666666;
@color-neutralSecondaryAlt:     #767676;
@color-neutralTertiary:         #a6a6a6;
@color-neutralTertiaryAlt:      #c8c8c8;
@color-neutralLight:            #eaeaea;
@color-neutralLighter:          #f4f4f4;
@color-white:                   #ffffff;


//== Other Colors
//
//

@color-error:                   #a80f22;

// Common OneDrive Type sizes
.od-font-large {
    font-size: 20px;
}

.od-font-regular {
    font-size: 12px;
}

// Component variables
@SetHeaderHeight: 80px;
@DetailHeaderHeight: 30px;


// Mixins
.user-select (@val) {
    -webkit-touch-callout:  @val;
    -webkit-user-select:    @val;
    -khtml-user-select:     @val;
    -moz-user-select:       @val;
    -ms-user-select:        @val;
    user-select:            @val;
}

// Override the xxl font and use Segoe UI Web fonts.
.ms-font-l, .ms-font-xxl {
    font-family: @lightFontFamily;
}

.ms-font-s, .ms-font-m {
    font-family: @regularFontFamily;
}
