.c-ListView {

    .surface {
        position: relative;
    }

    .row, .cell {
        position: absolute;
        transition: left 1s cubic-bezier(0.40, 1, 0.140, 1), width 1s cubic-bezier(0.40, 1, 0.140, 1); // cubic-bezier(0.05, 0.95, 0.05, 0.95);
    }

    .cellClip {
        /*
    	position: absolute;
    	left: 0;
    	top: 0;
    	right: 0;
    	bottom: 0;
*/
    	&.animInLeft {
    		overflow: hidden;
    		
    		.cell {
    		    -webkit-animation: animInLeft 1s cubic-bezier(.40, 1, 0.140, 1);
    	    	-webkit-animation-fill-mode: forwards;    		
    	    }
    	}

    	&.animInRight {
    		overflow: hidden;

    		.cell {
    	    	-webkit-animation: animInRight 1s cubic-bezier(.40, 1, 0.140, 1);
    		    -webkit-animation-fill-mode: forwards;    		
    	    }
		}

    	&.animOutLeft {
    		overflow: hidden;
    		.cell {
    			left: 0 !important;
    		    -webkit-animation: animOutLeft 1s cubic-bezier(.40, 1, 0.140, 1);    		
		        -webkit-animation-fill-mode: forwards;    		
        	}
        }

    	&.animOutRight {
    		overflow: hidden;
    		.cell {
    		    -webkit-animation: animOutRight 1s cubic-bezier(.40, 1, 0.140, 1);
    		    -webkit-animation-fill-mode: forwards;    		
         	} 
        }

    	&.animNew .cell {
    		-webkit-animation: animNew .6s cubic-bezier(.3, 0, 0, 1);
    		-webkit-animation-fill-mode: forwards;    		
    	}

    	&.animRemove .cell {
    		-webkit-animation: animRemove .6s linear; //  cubic-bezier(.3, 0, 0, 1);
    		-webkit-animation-fill-mode: forwards;    		
    	}
    }
}

@-webkit-keyframes animNew {
	0% { 
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes animRemove {
	0% { 
		transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(0);
		opacity: 0;
	}
}

@-webkit-keyframes animInLeft {
	0% {
		transform: translateX(-100%);
	}

	100% {
		transform: translateX(0);
	}
}

@-webkit-keyframes animInRight {
	0% {
		margin-left: 100%;
	}

	100% {
		margin-left: 0;
	}
}

@-webkit-keyframes animOutLeft {

	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-100%);
	}
}


@-webkit-keyframes animOutLeftOuter {
	0% {
		margin-left: 0%;
	}

	100% {
		margin-left: 100%;
	}
}

@-webkit-keyframes animOutRight {
	0% {
		margin-left: 0%;
	}

	100% {
		margin-left: 100%;
	}
}